<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-toolbar class="toolbar" color="primary">
  <span class="toolbar-title">Live Score</span>
</mat-toolbar>

<div *ngIf="liveScores && liveScores.length > 0" class="table-container">
  <div class="grid-container">
    <div class="grid-item" *ngFor="let livescore of liveScores">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header (click)="onExpansionPanelClick(livescore.matchId)">
            <div class="team-info">
              <img [src]="livescore.homeTeamLogo" alt="{{ livescore.homeTeamName }} Logo">
              <span>{{ livescore.homeTeamName }}</span>
            </div>
            <div class="result-time">
              <div class="result-container">
                <div class="result">{{ livescore.result }}</div>
              </div>
              <div class="elapsed-time">
              <span class="minute">{{ livescore.elapsedTime }}</span>
              <span class="apostrophe">'</span>
              </div>
            </div>
            <div class="team-away">
              <span>{{ livescore.awayTeamName }}</span>
              <img [src]="livescore.awayTeamLogo" alt="{{ livescore.awayTeamName }} Logo">
            </div>
          </mat-expansion-panel-header>
          <div class="event-details">
            <div *ngFor="let event of matchDetails?.eventForMatches">
              <div *ngIf="event.teamName === livescore.homeTeamName" class="event-item-home">
                <i class="fa fa-soccer-ball-o" style="font-size:20px;" *ngIf="event.detail === 'Penalty' || event.detail==='Normal Goal'"></i>
                <i class="fa fa-square" style="font-size: 20px; color: yellow;" *ngIf="event.type === 'Card' && event.detail === 'Yellow Card'"></i>
                <i class="fa fa-square" style="font-size: 20px; color:red;" *ngIf="event.type === 'Card' && event.detail === 'Red Card'"></i>
                <span class= "home" *ngIf="(event.detail === 'Penalty' || event.detail==='Normal Goal')||event.type==='Card'">{{ event.playerName }} ({{ event.timeElapsed }}')</span>
                
              </div>
              <div *ngIf="event.teamName === livescore.awayTeamName" class="event-item-away">
                <i class="fa fa-soccer-ball-o" style="font-size:20px;" *ngIf="event.detail === 'Penalty' || event.detail==='Normal Goal'"></i>
                <i class="fa fa-square" style="font-size: 20px; color: yellow;" *ngIf="event.type === 'Card' && event.detail === 'Yellow Card'"></i>
                <i class="fa fa-square" style="font-size: 20px;color:red;" *ngIf="event.type === 'Card' && event.detail === 'Red Card'"></i>
                <span class= "home" *ngIf="(event.detail === 'Penalty' || event.detail==='Normal Goal')||event.type==='Card'">{{ event.playerName }} ({{ event.timeElapsed }}')</span>
                
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
